---
import "@/styles/global.css"
import { VisualEditing } from "@sanity/astro/visual-editing"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Solare · Cours de piano en ligne</title>
  </head>
  <body>
    <slot />
    <VisualEditing enabled zIndex={1000} />
  </body>
</html>
